@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

table{
	margin: 1em auto;
}

table td:nth-of-type(2){
	font-variant-numeric: tabular-nums;
	text-align: right;
}

table td:nth-of-type(3){
	text-align: center;
}

tfoot td:nth-of-type(2){
	border-top: 1px solid;
}

footer{
	font-style: italic;
	margin-top: 1em;
	text-align: initial;
}

footer p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-style: normal;
	font-variant: small-caps;
}

q{
	font-style: italic;
}
