@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

table{
	margin: 1em;
}

table td:last-child{
	text-align: right;
	font-variant-numeric: tabular-nums;
}

footer{
	font-style: italic;
	margin-top: 1em;
	text-align: initial;
}

footer [epub|type~="z3998:signature"]{
	font-style: normal;
	font-variant: small-caps;
}
