@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

table{
	margin: 1em;
}

table td:last-child{
	text-align: right;
	font-variant-numeric: tabular-nums;
}

footer{
	font-style: italic;
	margin-top: 1em;
	text-align: initial;
}

footer [epub|type~="z3998:signature"]{
	font-style: normal;
	font-variant: small-caps;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}

.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100%;
	text-align: center;
}

@supports(display: flex) and (max-height: 100vh){
	.full-page{
		display: flex;
		flex-direction: column;
		max-height: 100vh;
	}
}
